/* @font-face {
    font-family: RobotoCondensed;
    src: {{ url_for('static', filename='roboto-condensed.ttf') }};
    font-weight:800;
}

@font-face {
    font-family: EconomicaBold;
    src: {{ url_for('static', filename='economica-bold.ttf') }};
}
 */


body {
    background-color: #faefd1;
    font-family: 'Roboto Condensed', sans-serif;
}


h1,h2,h3,h4,h5 {
    text-align:center;
    font-family: 'Economica', sans-serif;
    margin: 30px;
    font-size: 4em;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  #loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
