{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>Check Bullying Based On A Search Keyword</h1>
        <p style="font-size: 30px; text-align: center;">Tweets containing the search keyword will be collected, and its replies will be classified<p>
    </div>
    <hr />
    <form name="queryCollect" method="POST" style="align-content: center; margin-left: 250px; margin-top: 60px;">
        <div class="form-group" style="align-content: center;">
          <label for="tweetCount" style="float: left; margin-right: 30px; margin-top: 7.5px;">Enter no. of tweets to be collected:</label>
          <input type="text" class="form-control" id="tweetCount" style="width:1000px; float: left;" name="tweetCount">
          <br><br>
          <label for="query" style="float: left; margin-right: 60px; margin-top: 7.5px;">Enter search query for tweets:</label>
          <input type="text" class="form-control" id="query" style="width:1000px; float: left;" name="query">
        </div>
        <br><br><br>
        <button type="submit" onclick="myFunction()" style="margin-left: 260px;">Submit</button>
    </form>
    <div id="loadermessage" style="display:none; text-align: center; margin: auto; width: 50%; padding: 10px;">
      <p style="font-size: 25px;">Please wait. The tweets are being loaded and classified.</p>
      <p style="font-size: 15px;">Tweet collection progress can be viewed on the terminal.</p>
    </div>
    <div id="loader" style="display: none; text-align: center; margin: auto; padding: 10px;">
    </div>
{% endblock %}
